node_modules/
dist/
.env
.env.*
!.env.example
coverage/
.DS_Store
*.log
*.tsbuildinfo
imagedefinitions.json
.localstack/
localstack-volume/

# LocalStack personal auth token (local only)
.env.localstack

.localstack-volume/
.localstack-runtime/
pipeline-build.json
